.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#gallery-row {
  background: #f3f2f2;
  margin: 0;
}

#gallery-row .gallery-col__div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#gallery-row .gallery-col__div .gallery-user__div {
  padding: 10px;
}

#gallery-row .gallery-col__div .gallery-user__div .gallery-user-content__div {
  display: flex;
  align-items: center;
}

#gallery-row .gallery-col__div .gallery-user__div .gallery-user-content__div img {
  height: 1.5rem;
  border-radius: 50%;
}

#gallery-row .gallery-col__div .gallery-user__div .gallery-user-content__div label {
  padding-left: 1rem;
  cursor: pointer;
}

#gallery-row .gallery-col__div .gallery-col-content__div {
  width: 100%;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#gallery-row .gallery-col__div .gallery-col-content__div .gallery-content__div {
  padding: 0.6rem;
  height: 8rem;
}

@media only screen and (min-width: 48em) {
  #gallery-row .gallery-col__div .gallery-col-content__div .gallery-content__div {
    padding: 0.6rem;
    height: 13rem;
  }
}

@media only screen and (min-width: 62em) {
  #gallery-row .gallery-col__div .gallery-col-content__div .gallery-content__div {
    padding: 0.6rem;
    height: 18rem;
  }
}

#gallery-row .gallery-col__div .gallery-col-content__div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div {
  margin: 0 0.6rem;
  padding-bottom: 0.6rem;
}

#gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div .gallery-btn__div {
  color: #757474;
  display: flex;
  align-items: center;
}

#gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div .gallery-btn__div {
  font-size: 0.3rem;
  padding: 0.1rem;
}


@media only screen and (min-width: 48em) {
  #gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div .gallery-btn__div {
    font-size: 0.4rem;
    padding: 0.1rem;
  }
}

@media only screen and (min-width: 62em) {
  #gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div .gallery-btn__div {
    font-size: 0.75rem;
    padding: 0.1rem;
  }
}

#gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div .gallery-btn__div i {
  margin-left: auto;
}

#gallery-row .gallery-col__div .gallery-col-content__div .gallery-btn-row__div .gallery-btn__div:nth-child(1) i {
  margin: unset;
}

#btn-row {
  width: 100%;
  padding: 1rem 0;
  background: #f3f2f2;
}

#btn-row button {
  margin: auto;
  background: white;
  border: 1px solid #827f7f;
  height: 3rem;
  width: 9rem;
  color: #2b2b2b;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
}

#btn-row button:active {
  box-shadow: unset;
}